@charset "UTF-8";

@font-face {
  font-family: "hh-tag";
  src:url("fonts/hh-tag.eot");
  src:url("fonts/hh-tag.eot?#iefix") format("embedded-opentype"),
    url("fonts/hh-tag.woff") format("woff"),
    url("fonts/hh-tag.ttf") format("truetype"),
    url("fonts/hh-tag.svg#hh-tag") format("svg");
  font-weight: normal;
  font-style: normal;

}

[class^="tag-"]:before,
[class*=" tag-"]:before {
  font-family: "hh-tag" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tag-photoshop:before {
  content: "b";
}
.tag-symfony:before {
  content: "a";
}
.tag-react:before {
  content: "c";
}
.tag-aws:before {
  content: "d";
}
.tag-aws-1:before {
  content: "e";
}
.tag-symfony-1:before {
  content: "f";
}
.tag-android:before {
  content: "g";
}
.tag-angular-js:before {
  content: "h";
}
.tag-android-1:before {
  content: "i";
}
.tag-angular-js-1:before {
  content: "j";
}
.tag-appcelerator:before {
  content: "k";
}
.tag-appcelerator-1:before {
  content: "l";
}
.tag-apple:before {
  content: "m";
}
.tag-code-igniter:before {
  content: "n";
}
.tag-chrome:before {
  content: "o";
}
.tag-chrome-1:before {
  content: "p";
}
.tag-bower:before {
  content: "q";
}
.tag-bower-1:before {
  content: "r";
}
.tag-bower-2:before {
  content: "s";
}
.tag-bootstrap:before {
  content: "t";
}
.tag-bootstrap-1:before {
  content: "u";
}
.tag-backbone-js:before {
  content: "v";
}
.tag-backbone-js-1:before {
  content: "w";
}
.tag-atom:before {
  content: "x";
}
.tag-atom-1:before {
  content: "y";
}
.tag-codeigniter:before {
  content: "z";
}
.tag-coffee-script:before {
  content: "A";
}
.tag-coffee-script-1:before {
  content: "B";
}
.tag-css:before {
  content: "C";
}
.tag-css-1:before {
  content: "D";
}
.tag-debian:before {
  content: "E";
}
.tag-debian-1:before {
  content: "F";
}
.tag-dot-net:before {
  content: "G";
}
.tag-devicon-33:before {
  content: "H";
}
.tag-drupal:before {
  content: "I";
}
.tag-drupal-1:before {
  content: "J";
}
.tag-firefox:before {
  content: "K";
}
.tag-firefox-1:before {
  content: "L";
}
.tag-atom-2:before {
  content: "M";
}
.tag-ie:before {
  content: "N";
}
.tag-html5:before {
  content: "O";
}
.tag-html5-1:before {
  content: "P";
}
.tag-gulp:before {
  content: "Q";
}
.tag-grunt:before {
  content: "R";
}
.tag-grunt-1:before {
  content: "S";
}
.tag-grunt-2:before {
  content: "T";
}
.tag-git:before {
  content: "U";
}
.tag-git-1:before {
  content: "V";
}
.tag-foundation:before {
  content: "W";
}
.tag-foundation-1:before {
  content: "X";
}
.tag-illustrator:before {
  content: "Y";
}
.tag-inkscape:before {
  content: "Z";
}
.tag-java:before {
  content: "0";
}
.tag-devicon-53:before {
  content: "1";
}
.tag-java-1:before {
  content: "2";
}
.tag-javascript:before {
  content: "3";
}
.tag-jquery:before {
  content: "4";
}
.tag-jquery-1:before {
  content: "5";
}
.tag-kraken-js:before {
  content: "6";
}
.tag-devicon-59:before {
  content: "7";
}
.tag-laravel:before {
  content: "8";
}
.tag-laravel-1:before {
  content: "9";
}
.tag-less:before {
  content: "!";
}
.tag-php:before {
  content: "\"";
}
.tag-photoshop-1:before {
  content: "#";
}
.tag-oracle:before {
  content: "$";
}
.tag-javascript-1:before {
  content: "%";
}
.tag-node-js:before {
  content: "&";
}
.tag-mysql:before {
  content: "'";
}
.tag-mysql-1:before {
  content: "(";
}
.tag-moodle:before {
  content: ")";
}
.tag-moodle-1:before {
  content: "*";
}
.tag-mongodb:before {
  content: "+";
}
.tag-mongodb-1:before {
  content: ",";
}
.tag-linux:before {
  content: "-";
}
.tag-postgres:before {
  content: ".";
}
.tag-postgres-1:before {
  content: "/";
}
.tag-python:before {
  content: ":";
}
.tag-python-1:before {
  content: ";";
}
.tag-rails:before {
  content: "<";
}
.tag-rails-1:before {
  content: "=";
}
.tag-ruby:before {
  content: ">";
}
.tag-ruby-1:before {
  content: "?";
}
.tag-sass:before {
  content: "@";
}
.tag-travis:before {
  content: "[";
}
.tag-travis-1:before {
  content: "]";
}
.tag-trello:before {
  content: "^";
}
.tag-trello-1:before {
  content: "_";
}
.tag-zend:before {
  content: "`";
}
.tag-zend-1:before {
  content: "{";
}
.tag-yii-1:before {
  content: "|";
}
.tag-wordpress:before {
  content: "}";
}
.tag-wordpress-1:before {
  content: "~";
}
.tag-bower-3:before {
  content: "\\";
}
.tag-grunt-3:before {
  content: "\e000";
}
.tag-yii:before {
  content: "\e001";
}
.tag-photoshop-2:before {
  content: "\e002";
}
.tag-windows:before {
  content: "\e003";
}
.tag-windows8:before {
  content: "\e004";
}
.tag-vim:before {
  content: "\e005";
}
.tag-ubuntu:before {
  content: "\e006";
}
.tag-ubuntu-1:before {
  content: "\e007";
}
.tag-mobile:before {
  content: "\e009";
}
.tag-wifi:before {
  content: "\e00b";
}
.tag-mobile-tablet:before {
  content: "\e00c";
}
.tag-objective-c:before {
  content: "\e00d";
}
.tag-redhat:before {
  content: "\e00e";
}
.tag-freebsb:before {
  content: "\e00f";
}
.tag-heroku:before {
  content: "\e010";
}
.tag-python-2:before {
  content: "\e011";
}
.tag-java-2:before {
  content: "\e012";
}
.tag-debian-2:before {
  content: "\e014";
}
.tag-facebook:before {
  content: "\e015";
}
.tag-mysql-2:before {
  content: "\e016";
}
.tag-perl:before {
  content: "\e017";
}
.tag-gnome:before {
  content: "\e018";
}
.tag-scala-1:before {
  content: "\e019";
}
.tag-redis:before {
  content: "\e01a";
}
.tag-rails-2:before {
  content: "\e01b";
}
.tag-nginx:before {
  content: "\e01c";
}
.tag-raspberry-pi:before {
  content: "\e01d";
}
.tag-database:before {
  content: "\e01e";
}
.tag-postgres-2:before {
  content: "\e01f";
}
.tag-c:before {
  content: "\e020";
}
.tag-grails:before {
  content: "\e021";
}
.tag-google-1:before {
  content: "\e023";
}
.tag-netbsb:before {
  content: "\e024";
}
.tag-amazon:before {
  content: "\e025";
}
.tag-ruby-2:before {
  content: "\e028";
}
.tag-mysql-3:before {
  content: "\e029";
}
.tag-play-1:before {
  content: "\e02a";
}
.tag-osx:before {
  content: "\e02b";
}
.tag-database-1:before {
  content: "\e02c";
}
.tag-database-2:before {
  content: "\e02d";
}
.tag-shell:before {
  content: "\e02e";
}
.tag-haskell:before {
  content: "\e031";
}
.tag-google:before {
  content: "\e032";
}
.tag-mariadb:before {
  content: "\e033";
}
.tag-script-alt:before {
  content: "\e034";
}
.tag-cplusplus:before {
  content: "\e035";
}
.tag-java-duke:before {
  content: "\e036";
}
.tag-platter:before {
  content: "\e037";
}
.tag-scala:before {
  content: "\e038";
}
.tag-script:before {
  content: "\e03b";
}
.tag-csharp:before {
  content: "\e03c";
}
.tag-php-1:before {
  content: "\e03d";
}
.tag-html:before {
  content: "\e03f";
}
.tag-mfizz:before {
  content: "\e040";
}
.tag-apache:before {
  content: "\e041";
}
.tag-hadoop:before {
  content: "\e03e";
}
.tag-javascript-2:before {
  content: "\e042";
}
.tag-php-2:before {
  content: "\e043";
}
.tag-ubuntu-2:before {
  content: "\e044";
}
.tag-css-2:before {
  content: "\e045";
}
.tag-clojure:before {
  content: "\e046";
}
.tag-rails-3:before {
  content: "\e048";
}
.tag-postgres-3:before {
  content: "\e04a";
}
.tag-suse:before {
  content: "\e04b";
}
.tag-java-3:before {
  content: "\e04c";
}
.tag-nginx-1:before {
  content: "\e04d";
}
.tag-cassandra:before {
  content: "\e04e";
}
.tag-3d-print:before {
  content: "\e050";
}
.tag-solaris:before {
  content: "\e051";
}
.tag-nginx-2:before {
  content: "\e052";
}
.tag-linux-mint:before {
  content: "\e053";
}
.tag-jetty:before {
  content: "\e054";
}
.tag-tomcat:before {
  content: "\e055";
}
.tag-dreamhost:before {
  content: "\e056";
}
.tag-blackberry:before {
  content: "\e057";
}
.tag-oracle-2:before {
  content: "\e058";
}
.tag-javascript-3:before {
  content: "\e059";
}
.tag-oracle-1:before {
  content: "\e05a";
}
.tag-mssql:before {
  content: "\e05b";
}
.tag-google-developers:before {
  content: "\e05c";
}
.tag-centos:before {
  content: "\e05d";
}
.tag-google-code:before {
  content: "\e05e";
}
.tag-kde:before {
  content: "\e05f";
}
.tag-grails-1:before {
  content: "\e060";
}
.tag-play:before {
  content: "\e062";
}
.tag-xml:before {
  content: "\e008";
}
.tag-ember:before {
  content: "\e00a";
}
.tag-meteor-addis-meteor-balls:before {
  content: "\e013";
}
.tag-coffee:before {
  content: "\e022";
}
.tag-erlang:before {
  content: "\e026";
}
.tag-lua:before {
  content: "\e027";
}
.tag-unity:before {
  content: "\e02f";
}
.tag-vba:before {
  content: "\e030";
}
.tag-fsharp:before {
  content: "\e039";
}
.tag-r:before {
  content: "\e03a";
}
.tag-noun-31050-cc:before {
  content: "\e047";
}
