/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(http://fonts.gstatic.com/s/lato/v11/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(http://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-spacing: 140%;
}
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  line-height: 1.3;
}


h1 {
  font-size: 10.9vw;
  line-height: 1;
}
@media (min-width: 440px) {
  h1 {
    font-size: 48px;
  }
}
@media (min-width: 640px) {
  h1 {
    font-size: 7.5vw;
  }
}
@media (min-width: 800px) {
  h1 {
    font-size: 60px;
  }
}

h2 {
  font-size: 5vw;
  font-weight: inherit;
}
@media (min-width: 440px) {
  h2 {
    font-size: 22px;
  }
}

h3 {
  font-size: 20px
  font-weight: 700;
  margin-bottom: 10px;
}
h4 {
  font-size: inherit;
  font-weight: 700;
  margin-bottom: 2px;
}

hgroup {
  margin-bottom: 20px;
}

hgroup > * {
  margin: 0;
}
hgroup > * + * {
  color: #666666;
}

img {
  vertical-align: top;
}

nav {
  text-align: right;
  font-size: 20px;
}
nav ul {
  margin: 0;
  list-style: none;
  line-height: 130%;
}

a, a:hover {
  color: inherit;
  text-decoration: underline;
}

section + section {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#canvas {
  height: 100%;
  color: #fff;
  background: #000;
  background-repeat: no-repeat;
  background-size: 50vw 50vw;
  background-position: 100%;
  overflow: hidden;
  transition: -webkit-transform 0.5s, -ms-transform 0.5s, transform 0.5s;
}

#canvas li.contact {
  padding-top: 10px;
}

#canvas .fa {
  color: #aaa;
  margin-left: 5px;
}
#canvas a:hover .fa {
  color: #fff;
}

#siteTop,
#siteBottom {
  position: relative;
  top: 0;
  height: 50%;
  transition: -webkit-transform 1s, -ms-transform 1s, transform 1s;
  background: transparent;
  background-repeat: no-repeat;
}

#siteBottom {
  background-image: url(bg-jasnynet.png);
  background-position: calc(100% - 15px) calc(100% + 40px);
  background-size: 270px;
}

#siteTop .content,
#siteBottom .content {
  position: absolute;
  width: 100%;
  height: auto;
  right: 0;
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 384px) {
  #siteTop .content,
  #siteBottom .content {
    padding-left: 7.8vw;
  }
}
@media (min-width: 640px) {
  #siteTop .content,
  #siteBottom .content {
    width: 47.5vw;
    right: auto;
    padding-left: 50px;
    padding-right: 0;
  }
}
@media (min-width: 800px) {
  #siteTop .content,
  #siteBottom .content {
    width: 380px;
  }
}
#siteTop .content {
  bottom: 0;
}
#siteBottom .content {
  top: 0;
}

#canvas.split {
  background: none;
}
  
#canvas.split #siteTop,
#canvas.split #siteBottom {
  background-color: #000;
}
#canvas.open #siteTop {
  -webkit-transform: translateY(-42vh);
  -ms-transform: translateY(-42vh);
  transform: translateY(-42vh);
  cursor: pointer;
}
#canvas.open #siteBottom {
  -webkit-transform: translateY(42vh);
  -ms-transform: translateY(42vh);
  transform: translateY(42vh);
  cursor: pointer;
}

@media (min-width: 640px) {
  #siteTop,
  #siteBottom {
    background-size: 50vw 50vw;
  }
  #siteTop {
    background-position: 100% calc(50vh - 25vw);
  }
  #siteBottom {
    background-image: none;
    background-position: 100% -25vw;
  }
  
  #canvas,
  #canvas.split #siteTop,
  #canvas.split #siteBottom {
    background-image: url(bg-jasnynet.png);
  }
}

#siteTop.shadow {
  -webkit-box-shadow: 0px 2px 8px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 2px 8px 3px rgba(0,0,0,0.4);
  box-shadow: 0px 2px 8px 3px rgba(0,0,0,0.4);
}
#siteBottom.shadow {
  -webkit-box-shadow: 0px -2px 8px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px -2px 8px 3px rgba(0,0,0,0.4);
  box-shadow: 0px -2px 8px 3px rgba(0,0,0,0.4);
}

#canvas.shrunk {
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  transform: scale(.95);
  cursor: pointer;
}

#canvas a {
  text-decoration: none;
}

#about {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  color: #333;
  border-left: 1px solid #ddd;
  overflow-y: auto;
  font-weight: 300;
  padding: 30px;
  transition: -webkit-transform 1s, -ms-transform 1s, transform 1s;
  -webkit-transform: translate3d(110%, 0, 0);
  -ms-transform: translate3d(110%, 0, 0);
  transform: translate3d(110%, 0, 0);
  -webkit-box-shadow: 2px 0px 8px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 2px 0px 8px 3px rgba(0,0,0,0.4);
  box-shadow: 2px 0px 8px 3px rgba(0,0,0,0.4);
}

#about .close {
  position: absolute;
  top: 5px;
  right: 5px;
  text-transform: none;
  display: none;
}

#about.in {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#about > section > * {
  margin-top: 0;
}
#about ul {
  margin-top: 5px;
}

#about .human {
  background: #F6EDE3;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
  padding-right: 30px;
  margin-right: 10px;
}
#about .human > .photo {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  right: -20px;
  top: calc(50% - 20px);
  border: 5px solid #fff;
}
#about .human > p {
  margin: 0;
}

#whatwedo {
  text-align: justify;
}
#whatwedo h2 {
  text-align: left;
}

#toolset ul {
  list-style: none;
  padding-left: 10px;
}

#toolset i {
  font-size: 25px;
  vertical-align: middle;
  margin-right: 10px;
}

#certificates > a {
  display: block;
  text-align: center;
}
@media (min-width: 500px) {
  #certificates > a {
    display: inline-block;
  }
}

#certificates > a:not(:last-child) {
  margin-right: 10px;
  margin-bottom: 10px;
}
#certificates img {
  height: 75px;
}

#canvas.moved {
  -webkit-box-shadow: 0px 2px 8px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 2px 8px 3px rgba(0,0,0,0.4);
  box-shadow: 0px 2px 8px 3px rgba(0,0,0,0.4);
  transition: -webkit-transform 0.8s, -ms-transform 0.8s, transform 0.8s;
}

#canvas.slid {
  -webkit-transform: translateX(90%);
  -ms-transform: translateX(90%);
  transform: translateX(90%);
  cursor: pointer;
}

@media (max-width: 629px) {
  #about {
    width: 95%;
    padding: 4.77%;
  }
}

@media (min-width: 630px) and (max-width: 1199px) {
  #about {
    width: 600px;
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  #about {
    width: 50%;
  }
}

@media (min-width: 1600px) {
  #about {
    width: 800px;
  }
}

@media (max-height: 580px) {
  #siteBottom,
  #canvas.split #siteBottom {
    background-size: calc(60vh - 78px);
  }
}

@media (max-height: 540px) {
  #canvas h1 {
    font-size: 9.259vh;
  }
  #canvas h2 {
    font-size: 4.074vh;
  }
}

