@charset "utf-8";
/* CSS Document */
.about-author h3, .about-author p{
	margin:0 0 10px 0;
	padding:0;
}
.about-author h3 {
	color: inherit;
}
.about-author h3 small {
	color: #999;
}
.about-author{
	clear: both;
	margin: 30px 0 0 0;
	overflow: hidden;
	padding: 20px;
}
.about-author-pic{
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 100px;
	width: 100px;
	margin: 0 -122px 0 0;
	padding: 10px;
}
.about-author-pic img{
	width: 100px;
        height: 100px;
        max-width: 100px;
}
.about-author-text{
	float: left;
	margin: 0 0 0 140px;
}
.about-author-text p {
        margin: 0;
}
.about-author-social {
        float: right;
}
.about-author-social > a{
        margin:0 3px;
}
.about-author-social > a > img{
        display: inline;
        margin: 0;
        vertical-align: middle;
}

@media (max-width: 540px) {
	.about-author-pic {
		margin: 0 10px 5px 0;
	}

	.about-author-text {
		float: none;
		margin: 10px 0 0 0;
	}
}
